ai
ai/
ai/*
ai/**/*
backend
backend/
backend/*
backend/**/*
dataset
dataset/
dataset/*
dataset/**/*
*.keras
*.h5
node_modules
node_modules/
node_modules/*
node_modules/**/*
.expo
.expo/
.expo/*
.expo/**/*
../ai
../ai/
../ai/*
../ai/**/*

